:root {
    --greyBackgorund: #D9D9D9;  
    --buttonBackgorund: #4472C4;
}
html {
    max-height: 900px;
}
#information {
    display: none;
    font-weight: normal;
    font-size: 16px;
}
#creditsLabel:hover + #information{
   display: block;
}
 li {
    list-style: none;
    font-size: 16px;
    font-weight: normal;
 }

 li:hover{
     cursor: pointer;
     color: var(--buttonBackgorund)
 }
#mainContent {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    grid-gap: 5px;
    height: 600px !important;
}

#Credits {
    grid-column: 1/ span 3;
    grid-row: 1;
    background-color: var(--greyBackgorund);
    padding: 15px 0px 15px 15px;
    font-weight: bolder;
    font-size: 25px;
    font-family: Calibri;
} 
#companiesList {
    font-family: Calibri;
    padding-bottom: 0px;
    width: 100%;
    grid-column: 1;
    grid-row: 2/ span 2;
    background-color: var(--greyBackgorund);
    font-weight: bolder;
    font-size: 25px;
    height: 900px !important;
    
}
#companiesList label{
    margin-left: 5% ;
}
#companyNames {
    margin-top: 15px;
    overflow-y: scroll;
    
    margin-bottom: 0px;
    height: 800px !important;
}
#filter {
    font-size: 16px;
    font-weight: normal;
    padding-left: 2%;
}
#go {
    margin-top: 3px;
    margin-left: 20%;
    background-color: var(--buttonBackgorund);
    color: white;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}
#clear {
    background-color: var(--buttonBackgorund);
    color: white;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

#aboutCompany{
    font-family: Calibri;
    background-color: var(--greyBackgorund);
    grid-column: 2;
    grid-row: 2;
    font-weight: bolder;
    font-size: 25px;
    padding-bottom: 50px;
    height: 400px !important;
    
}
#aboutCompany label{
    margin-left: 15%;
}

#companyInformation p {
    grid-row: 1;
    grid-column: 2;
    font-weight: normal;
    font-size: 16px;
    max-width: 500px;
}
#companyMap {
    margin-top: -50px;
    font-family: Calibri;
    background-color: var(--greyBackgorund);
    grid-column: 2;
    grid-row: 3;
    font-weight: bolder;
    font-size: 25px;
    height: 400px !important;
    width: 800px;
}
#companyMap label{
    margin-left: 5% ;
}
#map {
    height: 400px;
} 
   

#stockData{
    font-family: Calibri;
    background-color: var(--greyBackgorund);
    grid-column: 3;
    grid-row: 2/ span 2;
    font-weight: bolder;
    font-size: 25px;
    /* padding-left: 200px; */
}
#tableContainer {
    overflow-y: scroll;  
    height: 700px; 
}
#viewCharts{
    background-color: var(--buttonBackgorund);
    color: white;
    border-radius: 5px;
    box-shadow: none;
    margin-left: 15%;
    cursor: pointer;
}

#StockTable {
    height: 700px; 
    font-family: Calibri;
    /* margin-left: 15%; */
    font-size: 25px;

}
#StockTable, td{
    font-size: 10px;

    border-style: 1px solid black;
}
#stockData, #StockTable, #volume{
    padding-right: 0px !important;
}
#StockTable, th {
    font-size: 16px;
    padding-right: 70px;
}
#StockAverage{
    margin-top: 5px;
}


/* Used from lab 10 */
/* CSS Loader source: https://loading.io/css/ */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}



/* Page 2 */;
#page2 {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 4;
    grid-gap: 26px;
}
#Credits2 {
    grid-column: 1/ span 3;
    grid-row: 1;
    background-color: var(--greyBackgorund);
    padding: 15px 0px 15px 15px;
    font-weight: bolder;
    font-size: 25px;
    font-family: Calibri;

}
#information2 {
    display: none;
    font-weight: normal;
    font-size: 16px;
}

#creditsLabel2:hover + #information2 {
    display: block;
}
#charts {
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: 2;
    grid-column: 1/3;
    grid-row: 2/4;
    background-color: var(--greyBackgorund);
    height: 600px;
    border: solid white;
    
}
.chart1 {
    grid-column: 1;
    grid-row: 2;
}

.chart2 {
    grid-column: 2;
    grid-row: 2;
}
.chart3 {
    grid-column: 1/3;
    grid-row: 3;

}
#charts label{
    grid-row: 1;
    grid-column: 1/3;
    font-weight: bolder;
    font-size: 25px;
    font-family: Calibri;
    padding: 15px 0px 15px 15px;
}
#nameSymbol{
    grid-column: 3;
    grid-row: 2;
    background-color: var(--greyBackgorund);   
    border: solid white;
    margin-bottom: -15%;

}
#nameSymbol label{
    font-weight: bolder;
    font-size: 25px;
    font-family: Calibri;
    padding: 15px 0px 15px 15px;
}
#financials{
    /* padding-top: 250px; */
    grid-column: 3;
    grid-row: 3;
    background-color: var(--greyBackgorund);
    border: solid white;
}
#financials label{
    
    font-weight: bolder;
    font-size: 25px;
    font-family: Calibri;
    padding: 15px 0px 15px 15px;
    
}
#speak {
    margin-top: 3px;
    margin-left: 20%;
    background-color: var(--buttonBackgorund);
    color: white;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}
#description {
    width: 400px;
    padding-left: 15px
}
#closePage2 {
    margin-top: 3px;
    margin-left: 20%;
    background-color: var(--buttonBackgorund);
    color: white;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}
#financialTable {
 
    width: 100%;
    height: 90%;
}
#financialTable th{
    border: solid black;
}
#financialTable td{
    border: solid black;
    font-size: 18px;
}

@media screen and (max-width: 1500px) {
    #mainContent{
        grid-template-columns: 2;
        grid-template-rows: 4;
    }
    #Credits {
        grid-row: 1;
        grid-column: 1/3;
    }

    #companiesList {
        grid-row: 2/4;
        grid-column: 1;
    }
    #aboutCompany {
        grid-row: 2;
        grid-column: 2;
    }
    #companyMap{
        grid-row: 3;
        grid-column: 2;
    }
    #stockData{
        grid-column: 1/3;
        grid-row: 4/5
    }

    #page2 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 4;
    }
    #Credits2{
        grid-column: 1;
        grid-row: 1;
    }
    #charts{
        grid-row: 3;
        grid-column: 1;
        border: none;
        padding-bottom: 50px;
    }
    #nameSymbol{
        grid-row: 2;
        grid-column: 1;
        padding-bottom: 250px;
        border: none;
    }
    #financials {
        grid-row: 4;
        grid-column: 1;
    }

}
@media screen and (max-width: 1000px) {
    #mainContent{
        grid-template-columns: 1;
        grid-template-rows: 5;
    }
    #Credits {
        grid-row: 1;
        grid-column: 1;
    }

    #companiesList {
        grid-row: 2;
        grid-column: 1;
    }
    #aboutCompany {
        grid-row: 3;
        grid-column: 1;
    }
    #companyMap{
        grid-row: 4;
        grid-column: 1;
        padding-bottom: 150px;
    }
    #stockData{
        grid-column: 1;
        grid-row: 5;
    }
    #page2 {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 4;
    }
    #Credits2{
        grid-column: 1;
        grid-row: 1;
    }
    #charts{
        grid-row: 3;
        grid-column: 1;
        border: none;
        display: block;
        padding-bottom: 300px;
    }
    #nameSymbol{
        grid-row: 2;
        grid-column: 1;
        padding-bottom: 250px;
        border: none;
    }
    #financials {
        grid-row: 4;
        grid-column: 1;
    }
    #financials table {
        width: 50%;
        height: 50%;
    }
}
